Server/Tamework/.DS_Store
Server/Tamework/Patches/.DS_Store
Server/Tamework/Patches/Examples/.DS_Store
Server/NPC/Roles/Avian/.DS_Store
Server/NPC/Roles/Avian/Aerial/.DS_Store
Server/NPC/Roles/Avian/Raptor/.DS_Store
Server/Tamework/.DS_Store
*.DS_Store
/Version Archive
Server/.DS_Store
.DS_Store
